html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,96,22,1) 52%, rgba(2,0,36,1) 100%);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}
label{
    margin-bottom: 10px;
}

input{
    border-radius: 5px;
    margin-bottom: 10px;
}

button{
    margin: 5px;
    text-align: center;
    background-color: rgb(27, 87, 32);
    border: white solid 2px;
    border-radius: 20px;
    color: white;
    padding: 3px;
    height: 30px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5), 0 3px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    transition: 0.7s ease;
}


#bordaDentro{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    padding: 0.8em;
    width: fit-content;
    background-color: rgb(37, 59, 39);
    margin: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Sombra preta */
    /* Adicionando borda */
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#bordaDentro2{
    border: 2px solid black;
    border-radius: 5px;
    display: none;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    padding: 0.8em;
    width: fit-content;
    height: fit-content;
    background-color: rgb(37, 59, 39);
    margin: 10px;
}


#borda{
    padding: 0.8em;
    width: auto;
    display: flex;
}

#containerFinal{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

#container input{
    width: 329px;
}

#container button{
    padding: 3px;
    height: auto;
    width: 30px;
    text-align: center;
    border: white 1px solid;
    background-color: transparent;
    margin: -4px 0px 5px 10px;
}

#container button:hover{
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5), 0 3px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    transition: 0.7s ease;
}



/*
#bordaDentro:hover{
    
}
*/




